{% extends "base.html" %}
{% block content %}
<h1>Liste des réservations :</h1>
{% if object_list %}
    {% for booking in object_list %}
    <section class="card">
        <p>Réservation de {{booking.resource.name}} </p>
        <p>du {{booking.start_at | date:"d/m/y"}} au {{booking.end_at | date:"d/m/y"}}. </p>
        <p> par : {{booking.user.username | capfirst }} </p>
        <div>
            <p> Status :
            <span class="booking-status
                {% if booking.status == '01' %}
                green
                {% else %}
                red
                {% endif %}">
            {{ booking.get_status_display }} </span>
            </p>
        </div>
    </section>
    {% endfor %}
{% else %}
<p> Il n'y a aucune réservation </p>
{% endif %}
{% endblock %}