.sidebar {
    background-color: #343a40;  /* gris foncé type Bootstrap dark */
    min-height: 100vh;           /* prend toute la hauteur de la fenêtre */
    color: white;                /* texte blanc */
}

.sidebar .nav-link {
    color: #3291f0;                /* liens en bleu */
}

.sidebar .nav-link:hover {
    background-color: #495057;   /* couleur au survol */
    color: white;
}


/* Styles généraux pour les badges et status */
.status-badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
}

/* Couleurs pour status-badge (background) */
.status-badge.green { background-color: green; }
.status-badge.red { background-color: red; }
.status-badge.yellow { background-color: orange; }

/* Styles pour booking-status (texte coloré) */
.booking-status {
    display: inline-block;
    margin-right: 6px;
    font-weight: bold; /* optionnel pour mieux voir la couleur */
}

/* Couleurs pour booking-status (texte) */
.booking-status.green { color: green; }
.booking-status.red { color: red; }

